.add_form {
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    text-align: left;
}

.inputtanggallahir {
    display: block;
    text-align: center;
    align-items: center;
}

.divfordate {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-top {
    display: block;
    width: 100%;
    height: 15%;
    background-color: #f6f6f6;
}

.header3 {
    display: block;
    text-align: center;
    float: left;
    width: 45%;
    height: 67%;
    padding-left: 5%;
    padding-top: 2%;
}

.header4 {
    float: right;
    height: 67%;
    width: 44%;
    background-color: #f6f6f6;
    padding-right: 5%;
    padding-top: 2%;
    overflow-x: scroll;
    overflow-x: auto;
    overflow-y: scroll;
    overflow-y: auto;
}

.header-bottom {
    display: block;
    float: right;
    width: 89%;
    height: 11.5%;
    background-color: #f6f6f6;
}

.form-row {
    padding-top: 15px;
}

.buttonsubmit {
    margin-top: 25px;
    display: inline-block;
    margin-left: 32%;
    margin-right: 33%;
    font-weight: bold;
}

.label {
    text-align: center;
}